<h1>Lista de Funcionários</h1>

<ul>
  <% @funcionarios.each do |funcionario| %>
    <li>
      <a href="<%= funcionario_path(funcionario) %>"><%= funcionario.nome_completo %></a><br>    
    </li>
  <% end %>
</ul>

